---
import favicon from "./favicon-svg.json";

const { pathname } = Astro.url;

interface HeaderRoute {
  name: string;
  href: string;
  match?: RegExp;
}

const homeRoutes: HeaderRoute[] = [
  {
    name: "Home",
    href: "/",
  },
  {
    name: "Posts",
    href: "/posts",
    match: /\/posts\b([/]*)/g,
  },
];

function matchPattern(route: HeaderRoute, path: string) {
  if (route.match) {
    const res = path.match(route.match);

    if (!res || res[0]?.length != path.length) {
      return false;
    }

    return true;
  }

  return path == route.href;
}
---

<script src="./header-script.ts"></script>

<div class="container">
  <header>
    <a href="/">
      <div class="left">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 128 128"
        >
          <path d={favicon["path-d"]}></path>
        </svg>
        <h1>Astro blog</h1>
      </div>
    </a>
    <div class="right">
      <nav>
        {
          homeRoutes.map((r) => {
            if (matchPattern(r, pathname)) {
              return (
                <a class="current" href={r.href}>
                  {r.name}
                </a>
              );
            }
            return <a href={r.href}>{r.name}</a>;
          })
        }
      </nav>
      <button class="themeBtn" id="themeswap.button">
        <img width="24px" height="24px" src="/moon.svg" />
      </button>
      <button class="loginBtn">Login</button>
    </div>
  </header>
  <hr />
</div>

<style>
  .container {
    height: 80px;
    margin-bottom: 48px;
  }

  .left,
  .right,
  header,
  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  a {
    text-decoration: none;
    color: var(--text-color);
  }

  .left {
    gap: 1.2rem;
  }

  .left svg {
    width: 52px;
    height: 52px;
  }

  .left svg path {
    fill: var(--text-color);
  }

  .right {
    gap: 2.8rem;
  }

  .themeBtn img {
    width: 24px;
    height: 24px;
  }

  nav {
    gap: 1.6rem;
  }

  .left h1 {
    font-size: 1.8rem;
  }

  header {
    height: 100%;
    margin: 0 auto;
    justify-content: space-between;
    max-width: 992px;
    padding: 0 16px;
  }

  nav a {
    /* transition: 0.3s; */
    text-decoration: none;
    font-size: 1.05rem;
  }

  .current {
    font-weight: 700;
  }

  nav a:hover {
    color: var(--hover-text);
  }

  .themeBtn {
    background: none;
    border: none;
  }

  .themeBtn:hover {
    cursor: pointer;
  }

  .loginBtn {
    transition: 0.3s;
    background-color: var(--text-color);
    color: var(--background);
    border: none;
    border-radius: 4px;
    box-shadow: 0 0 10px var(--button-shadow);
    width: 58px;
    height: 36px;
    font-size: 0.9rem;
    font-weight: 700;
  }

  .loginBtn:hover {
    cursor: pointer;
    box-shadow: 0 0 10px var(--button-hover-shadow);
  }

  @media screen and (max-width: 542px) {
    .left h1 {
      display: none;
    }

    .right {
      gap: 1.5rem;
    }

    .container {
      margin-bottom: 30px;
    }
  }

  @media screen and (max-width: 342px) {
    .themeBtn {
      display: none;
    }
  }
</style>
