---
import "../lib/fonts.css";
import Header from "../components/Header.astro";

interface Props {
  title: string;
  description: string;
}

const fontPreload = [
  "https://fonts.gstatic.com/s/lato/v24/S6u9w4BMUTPHh7USSwaPGR_p.woff2",
  "https://fonts.gstatic.com/s/lato/v24/S6u9w4BMUTPHh7USSwiPGQ.woff2",
  "https://fonts.gstatic.com/s/lato/v24/S6uyw4BMUTPHjxAwXjeu.woff2",
  "https://fonts.gstatic.com/s/lato/v24/S6uyw4BMUTPHjx4wXg.woff2",
  "https://fonts.gstatic.com/s/lato/v24/S6u9w4BMUTPHh6UVSwaPGR_p.woff2",
  "https://fonts.gstatic.com/s/lato/v24/S6u9w4BMUTPHh6UVSwiPGQ.woff2",
];

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    {
      fontPreload.map((href) => {
        return (
          <link
            rel="preload"
            href={href}
            crossorigin="anonymous"
            as="font"
            type="font/woff2"
          />
        );
      })
    }
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>

<style is:global>
  :root {
    --text-color: #000000;
    --background: #f6f6f6;
    --hover-text: #505050;
    --button-shadow: rgba(0, 0, 0, 0.48);
    --button-hover-shadow: rgba(0, 0, 0, 0.7);
  }

  @media screen and (prefers-color-scheme: dark) {
    :root {
      --text-color: #cfcfcf;
      --background: #161616;
      --hover-text: #ffffff;
      --button-shadow: rgba(204, 204, 204, 0.27);
      --button-hover-shadow: rgba(204, 204, 204, 0.7);
    }
  }

  html {
    font-family: "Lato", sans-serif;
    font-display: block;
    background-color: var(--background);
    color: var(--text-color);
  }

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
</style>
